    h3 {color : #ff00ff ;}
    h1 {color : #0000ff ; text-align : center ;background-color : #000000 ;}
    h2 {color : #00ffff ;}
    td{color : #ff00ff ;}
    table{background-color : #000000 ;}
body {
background-image : url(images/%E3%83%9D%E3%83%94%E3%83%BC%E6%A8%AA%E4%B8%81.png)
}